# Nettoyage et feature

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

df_chat = pd.read_csv("../data/raw/flights.csv")

df_chat.head(10)

C:\Users\HP\AppData\Local\Temp\ipykernel_23248\3272984744.py:4: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_chat = pd.read_csv("../data/raw/flights.csv")

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

2 . Pourcentage de valeurs manquantes

In [3]:
missing_percent = df_chat.isnull().sum() * 100 / len(df_chat)

# Filtrer les colonnes avec au moins une valeur manquante
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)

# Afficher les rÃ©sultats
print(missing_percent)

CANCELLATION_REASON    98.455357
SECURITY_DELAY         81.724960
AIR_SYSTEM_DELAY       81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
AIRLINE_DELAY          81.724960
ARRIVAL_DELAY           1.805629
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
TAXI_IN                 1.589822
WHEELS_ON               1.589822
ARRIVAL_TIME            1.589822
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
DEPARTURE_DELAY         1.480526
DEPARTURE_TIME          1.480526
TAIL_NUMBER             0.252978
SCHEDULED_TIME          0.000103
dtype: float64

3. Suppression des colonnes avec un % de valeurs manquantes >= 80

In [5]:
# Supprimer les colonnes avec plus de 80% de valeurs manquantes
threshold = 0.8  # Seuil de 80%
df_chat = df_chat.loc[:, df_chat.isnull().mean() < threshold]

# verifs
missing_percent = df_chat.isnull().sum() * 100 / len(df_chat)

# Filtrer les colonnes avec au moins une valeur manquante
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)

# Afficher les rÃ©sultats
print(missing_percent)

ELAPSED_TIME       1.805629
ARRIVAL_DELAY      1.805629
AIR_TIME           1.805629
WHEELS_ON          1.589822
TAXI_IN            1.589822
ARRIVAL_TIME       1.589822
WHEELS_OFF         1.530259
TAXI_OUT           1.530259
DEPARTURE_TIME     1.480526
DEPARTURE_DELAY    1.480526
TAIL_NUMBER        0.252978
SCHEDULED_TIME     0.000103
dtype: float64

4. Imputation de Valeurs

In [6]:
df_chat["DEPARTURE_TIME"].fillna(df_chat["DEPARTURE_DELAY"].median(), inplace=True)  
df_chat["ARRIVAL_DELAY"].fillna(df_chat["ARRIVAL_DELAY"].median(), inplace=True)  

 
df_chat["DEPARTURE_DELAY"].fillna(df_chat["DEPARTURE_DELAY"].median(), inplace=True)  

df_chat["TAXI_OUT"].fillna(df_chat["TAXI_OUT"].median(), inplace=True)  
df_chat["WHEELS_OFF"].fillna(df_chat["WHEELS_OFF"].median(), inplace=True) 
df_chat["SCHEDULED_TIME"].fillna(df_chat["SCHEDULED_TIME"].median(), inplace=True)
df_chat["ELAPSED_TIME"].fillna(df_chat["ELAPSED_TIME"].median(), inplace=True)

df_chat["AIR_TIME"].fillna(df_chat["AIR_TIME"].median(), inplace=True)  
df_chat["WHEELS_ON"].fillna(df_chat["WHEELS_ON"].median(), inplace=True)  
df_chat["TAXI_IN"].fillna(df_chat["TAXI_IN"].median(), inplace=True)  
df_chat["ARRIVAL_TIME"].fillna(df_chat["ARRIVAL_TIME"].median(), inplace=True) 
df_chat["ARRIVAL_DELAY"].fillna(df_chat["ARRIVAL_DELAY"].median(), inplace=True)


# J'ai choisi d'imputer par le mode de la colonne
mode_value = df_chat["TAIL_NUMBER"].mode()[0]  # Trouve la valeur la plus frÃ©quente
df_chat["TAIL_NUMBER"] = df_chat["TAIL_NUMBER"].fillna(mode_value)

C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["DEPARTURE_TIME"].fillna(df_chat["DEPARTURE_DELAY"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["ARRIVAL_DELAY"].fillna(df_chat["ARRIVAL_DELAY"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["DEPARTURE_DELAY"].fillna(df_chat["DEPARTURE_DELAY"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["TAXI_OUT"].fillna(df_chat["TAXI_OUT"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["WHEELS_OFF"].fillna(df_chat["WHEELS_OFF"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["SCHEDULED_TIME"].fillna(df_chat["SCHEDULED_TIME"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["ELAPSED_TIME"].fillna(df_chat["ELAPSED_TIME"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["AIR_TIME"].fillna(df_chat["AIR_TIME"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["WHEELS_ON"].fillna(df_chat["WHEELS_ON"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["TAXI_IN"].fillna(df_chat["TAXI_IN"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["ARRIVAL_TIME"].fillna(df_chat["ARRIVAL_TIME"].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_23248\4195161168.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_chat["ARRIVAL_DELAY"].fillna(df_chat["ARRIVAL_DELAY"].median(), inplace=True)

In [7]:
# Verification

df_chat.isna().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
dtype: int64

#### **Convertion des champs de date (SCHEDULED_DEPARTURE, DEPARTURE_TIME, SCHEDULED_Arrival, Arrival_TIME)**

1. SHEDULED_DEPARTURE

In [8]:
#PrÃ©visualisation
df_chat["SCHEDULED_DEPARTURE"].head()

0     5
1    10
2    20
3    20
4    25
Name: SCHEDULED_DEPARTURE, dtype: int64

In [10]:
# Fonction pour gerer convertir des champs de type date
from datetime import datetime

def convert_to_time(time_str):
    time_str = int(time_str)
    time_str=str(time_str)
    for i in range(4 - len(time_str)):
        time_str = "0"+ time_str
    return datetime.strptime(time_str, "%H%M").time()

df_chat["SCHEDULED_DEPARTURE"] = df_chat["SCHEDULED_DEPARTURE"].apply(convert_to_time)

In [11]:
#resultat
df_chat["SCHEDULED_DEPARTURE"]

0          00:05:00
1          00:10:00
2          00:20:00
3          00:20:00
4          00:25:00
             ...
5819074    23:59:00
5819075    23:59:00
5819076    23:59:00
5819077    23:59:00
5819078    23:59:00
Name: SCHEDULED_DEPARTURE, Length: 5819079, dtype: object

2. SCHEDULED_ARRIVAL

In [12]:
# Previsualisation
df_chat["SCHEDULED_ARRIVAL"].head()

0    430
1    750
2    806
3    805
4    320
Name: SCHEDULED_ARRIVAL, dtype: int64

In [14]:
def convert_to_time1(time_value):
    if pd.isna(time_value):  
        return None
    try:
        time_str = str(int(float(time_value))).zfill(4)  # Convertir proprement en 4 chiffres
        return datetime.strptime(time_str, "%H%M").time()  # Conversion en heure
    except ValueError:
        print(f"Erreur de conversion pour la valeur : {time_value}")  # Debugging
        return None  # Retourne None si la conversion Ã©choue

# Appliquer la fonction sur la colonne
df_chat["SCHEDULED_ARRIVAL"] = df_chat["SCHEDULED_ARRIVAL"].apply(convert_to_time1)

# VÃ©rifier les rÃ©sultats
print(df_chat[["SCHEDULED_ARRIVAL"]].head())

Erreur de conversion pour la valeur : 2400
Erreur de conversion pour la valeur : 2400
  SCHEDULED_ARRIVAL
0          04:30:00
1          07:50:00
2          08:06:00
3          08:05:00
4          03:20:00

In [15]:
#gestion des valeurs 2400 de a colonne SHEDULED_ARRIVAL

from datetime import time

for index, row in df_chat.iterrows():
    if row["SCHEDULED_ARRIVAL"] == 2400:
        df_chat.at[index, "SCHEDULED_ARRIVAL"] = time(0, 0, 0)  # Remplace par 00:00:00

In [20]:
#Visualisation du resultat
df_chat["SCHEDULED_ARRIVAL"].head(10)

0    04:30:00
1    07:50:00
2    08:06:00
3    08:05:00
4    03:20:00
5    06:02:00
6    05:26:00
7    08:03:00
8    05:45:00
9    07:11:00
Name: SCHEDULED_ARRIVAL, dtype: object

3. ARRIVAL_TIME

In [21]:
# Previsualisation 
df_chat["ARRIVAL_TIME"].head(10)

0    408.0
1    741.0
2    811.0
3    756.0
4    259.0
5    610.0
6    509.0
7    753.0
8    532.0
9    656.0
Name: ARRIVAL_TIME, dtype: object

In [19]:
#gestion des lignes presentant la valeur 2400 equivalent Ã  00:00:00

for index, row in df_chat.iterrows():
    if row["ARRIVAL_TIME"] == 2400:
        df_chat.at[index, "ARRIVAL_TIME"] = time(0, 0, 0)

C:\Users\HP\AppData\Local\Temp\ipykernel_23248\2045259772.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '00:00:00' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_chat.at[index, "ARRIVAL_TIME"] = time(0, 0, 0)

In [22]:
#Gestion du reste des valeurs
from datetime import datetime, time

def convert_to_time2(time_str):
    if pd.isna(time_str):  # Gestion des NaN
        return None  
    if isinstance(time_str, time):  # VÃ©rifie si c'est dÃ©jÃ  un format datetime.time
        return time_str  
    try:
        time_str = int(float(time_str))  # GÃ¨re les valeurs float comme 408.0 â†’ 408
        if time_str < 0:  # Filtrer les valeurs nÃ©gatives  
            print(f"Alerte : valeur nÃ©gative dÃ©tectÃ©e {time_str}")         
        time_str = str(time_str).zfill(4)  # Assure un format HHMM
        return datetime.strptime(time_str, "%H%M").time()  # Convertit en time
    except ValueError as e:
        print(f"Erreur avec la valeur {time_str}: {e}")  # Affiche les erreurs pour debug
        return None

df_chat["ARRIVAL_TIME"] = df_chat["ARRIVAL_TIME"].apply(convert_to_time2)

In [ ]:
#Visualisation finale

print(df_chat["ARRIVAL_TIME"].dtype)
print(df_chat["ARRIVAL_TIME"].head(10))

4.  DEPARTURE_TIME

In [ ]:
#previsualisation
df_chat["DEPARTURE_TIME"]

In [ ]:
#gestion des lignes presentant la valeur 2400 equivalent Ã  00:00:00 (s'il y'en a)

for index, row in df_chat.iterrows():
    if row["DEPARTURE_TIME"] == 2400:
        df_chat.at[index, "DEPARTURE_TIME"] = time(0, 0, 0)
    if row["DEPARTURE_TIME"] == 2.0:
        df_chat.at[index, "DEPARTURE_TIME"] = time(0, 2, 0)


df_chat["DEPARTURE_TIME"] = df_chat["DEPARTURE_TIME"].apply(convert_to_time2)

In [ ]:
# Gestion des ligne presantÃ© la valeur -2 equivalente Ã  00:02

if row["DEPARTURE_TIME"] == -2 :
        df_chat.at[index, "DEPARTURE_TIME"] = time(0, 2, 0)

In [ ]:
#visualisation du resutat
df_chat["DEPARTURE_TIME"]

#### Suppression des vol annulÃ©s (on s'interessera Ã  la colonne CANCELLED)

In [23]:
# Visualisation des vols annulÃ©s
print(df_chat[df_chat["CANCELLED"] == 1])

         YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
32       2015      1    1            4      AS            136      N431AS
42       2015      1    1            4      AA           2459      N3BDAA
68       2015      1    1            4      OO           5254      N746SK
82       2015      1    1            4      MQ           2859      N660MQ
90       2015      1    1            4      OO           5460      N583SW
...       ...    ...  ...          ...     ...            ...         ...
5818090  2015     12   31            4      UA           1789      N480HA
5818157  2015     12   31            4      UA            222      N480HA
5818318  2015     12   31            4      AA           2245      N880AA
5818777  2015     12   31            4      NK            416      N522NK
5818843  2015     12   31            4      AA           1042      N870AA

        ORIGIN_AIRPORT DESTINATION_AIRPORT SCHEDULED_DEPARTURE  ...  \
32                 ANC                 SEA            01:35:00  ...
42                 PHX                 DFW            02:00:00  ...
68                 MAF                 IAH            05:10:00  ...
82                 SGF                 DFW            05:25:00  ...
90                 RDD                 SFO            05:30:00  ...
...                ...                 ...                 ...  ...
5818090            IAH                 TPA            19:55:00  ...
5818157            SFO                 LAX            20:00:00  ...
5818318            MIA                 SAN            20:19:00  ...
5818777            FLL                 IAG            21:55:00  ...
5818843            SAN                 MIA            22:10:00  ...

         ELAPSED_TIME  AIR_TIME  DISTANCE  WHEELS_ON  TAXI_IN  \
32              118.0      94.0      1448     1509.0      6.0
42              118.0      94.0       868     1509.0      6.0
68              118.0      94.0       429     1509.0      6.0
82              118.0      94.0       364     1509.0      6.0
90              118.0      94.0       199     1509.0      6.0
...               ...       ...       ...        ...      ...
5818090         118.0      94.0       787     1509.0      6.0
5818157         118.0      94.0       337     1509.0      6.0
5818318         118.0      94.0      2267     1509.0      6.0
5818777         118.0      94.0      1176     1509.0      6.0
5818843         118.0      94.0      2267     1509.0      6.0

         SCHEDULED_ARRIVAL  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED
32                06:00:00      15:12:00           -5.0         0          1
42                05:00:00      15:12:00           -5.0         0          1
68                06:37:00      15:12:00           -5.0         0          1
82                07:00:00      15:12:00           -5.0         0          1
90                07:00:00      15:12:00           -5.0         0          1
...                    ...           ...            ...       ...        ...
5818090           23:00:00      15:12:00           -5.0         0          1
5818157           21:36:00      15:12:00           -5.0         0          1
5818318           22:56:00      15:12:00           -5.0         0          1
5818777           00:50:00      15:12:00           -5.0         0          1
5818843           05:47:00      15:12:00           -5.0         0          1

[89884 rows x 25 columns]

In [ ]:
# Concervation les vols effectuer uniquements

df_chat = df_chat[df_chat["CANCELLED"] == 0]

#Reinitialisation des index
df_chat = df_chat[df_chat["CANCELLED"] == 0].reset_index(drop=True)

#test pour voir s'il ne reste que des enregistrements dont la valeur de la colonne CANCELLED vaut 0
print(df_chat["CANCELLED"].unique())

### Generation du data_cleaned

In [ ]:
df_chat.to_csv("../data/cleaned/data_cleaned.csv", index=False)

### Encodage des variable CatÃ©gorielle  de valeur categorielle

In [ ]:
import category_encoders as ce

# Liste des colonnes Ã  encoder
columns_to_encode = ["DAY_OF_WEEK", "AIRLINE", "ORIGIN_AIRPORT", "DESTINATION_AIRPORT"]

# VÃ©rifie que les colonnes existent dans df_chat
for col in columns_to_encode:
    if col not in df_chat.columns:
        print(f"  La colonne '{col}' est absente du df")

# Initialisation du Hashing Encoder
encoder = ce.HashingEncoder(cols=columns_to_encode, n_components=8)

# Transformation des donnÃ©es
df_encoded = encoder.fit_transform(df_chat)

print(df_encoded.head())

In [ ]:

# visualisation du data_encoded
df_encoded.head()

### Convertion en minute des valeurs de SCHEDULED_DEPARTURE

In [ ]:
def time_to_minutes(time_obj):
    return time_obj.hour * 60 + time_obj.minute  # Convertir en minutes

# Appliquer la transformation Ã  la colonne
df_encoded["SCHEDULED_DEPARTURE_MINUTES"] = df_encoded["SCHEDULED_DEPARTURE"].apply(time_to_minutes)

# VÃ©rifier le rÃ©sultat
print(df_encoded[["SCHEDULED_DEPARTURE", "SCHEDULED_DEPARTURE_MINUTES"]].head())

### creation du data_cluster

In [ ]:
df_encoded.to_csv("../data/enriched/data_for_price.csv", index=False)